// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.cc-license {
  text-align: center;
  font-size: 13px;
  a {
    white-space: nowrap;
    img {
      border-width: 0;
    }
  }
  a:first-child {
    text-decoration: none;
  }
}
